.collection-item {
    text-align: center;
    cursor: pointer;
    width: 100%;
    /* Không cần fix cụ thể như 1005 gì đâu */
}

.collection-item-image {
    width: 100%;
    aspect-ratio: 1;
    /* Giữ tỉ lệ vuông, muốn hình chữ nhật thì đổi số khác */
    overflow: hidden;
}

.collection-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Đảm bảo ảnh đầy đủ khung mà không méo */
    display: block;
}

.collection-item-name {
    display: inline-block;
    /* Có inline-block để có thể margin, padding được cho thẻ a bên trong */
    margin-top: 10px;
    font-size: 1.05rem;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
}

.collection-item:hover .collection-item-name {
    color: #234bbb;
    text-decoration: underline;
}